/* clearfix */
/* border-radius */
/* Slider */
/* line 6, ../scss/slick_sp.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 21, ../scss/slick_sp.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 28, ../scss/slick_sp.scss */
.slick-list:focus {
  outline: none;
}
/* line 32, ../scss/slick_sp.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 37, ../scss/slick_sp.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 46, ../scss/slick_sp.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
/* line 52, ../scss/slick_sp.scss */
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
/* line 58, ../scss/slick_sp.scss */
.slick-track:after {
  clear: both;
}
/* line 62, ../scss/slick_sp.scss */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 66, ../scss/slick_sp.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
/* line 70, ../scss/slick_sp.scss */
[dir="rtl"] .slick-slide {
  float: right;
}
/* line 73, ../scss/slick_sp.scss */
.slick-slide img {
  display: block;
}
/* line 76, ../scss/slick_sp.scss */
.slick-slide.slick-loading img {
  display: none;
}
/* line 82, ../scss/slick_sp.scss */
.slick-slide.dragging img {
  pointer-events: none;
}
/* line 86, ../scss/slick_sp.scss */
.slick-initialized .slick-slide {
  display: block;
}
/* line 90, ../scss/slick_sp.scss */
.slick-loading .slick-slide {
  visibility: hidden;
}
/* line 94, ../scss/slick_sp.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
