@charset "utf-8";
@import "compass/utilities";
@import "mixin";

body {
	background: #eefbfb url(../common/img/pc/bg.gif) repeat center top;
	min-width: 1150px;
}
/*--------------------------
	header
--------------------------*/
#header {
	background-color: #fa5798;
	overflow: hidden;
	margin-bottom: 17px;
	width: 100%;
	.header-inner {
		min-width: 1150px;
		display: table;
		@include clearfix;
		@extend %wrap;
		.logo {
			display: table-cell;
		}
	}
}

/*--------------------------
	gnav
--------------------------*/
#gnav {
		display: table-cell;
	li {
		display: table-cell;
		border-right: 1px solid #fff;
	}
}

/*--------------------------
	contents,main,side
--------------------------*/
#contents {
		@include clearfix;
		@extend %wrap;
		padding-bottom: 30px;
}
#main {
	display: inline-block;
	@extend %fl_l;
	width: 824px;
}
#side {
	display: inline-block;
	@extend %fl_r;
	width: 300px;
}
#footer {
	background-color: #fcf960;
	.footer-inner {
		@extend %wrap;
		display: table;
		padding: 28px 0;
		dl {
			display: table-cell;
			vertical-align: top;
			&.left { width: 732px;}
			&.right { width: 418px;}
			dt {}
			dd {
				ul {
					@include clearfix;
					max-width: 666px;
					li {
						display: inline-block;
						float: left;
						margin-top: 15px;
						margin-left: 24px;
						&:nth-child(4n+1) { margin-left: 0;}
					}
				}
			}
		}
	}
}
#footer2 {
	background-color: #ffffff;
	.inner {
		@extend %wrap;
		position: relative;
		.social-area {
			padding: 15px 0;
			@include clearfix;
			li {
				display: inline-block;
				float: left;
				margin-left: 10px;
				&:first-child { margin-left: 0;}
			}
		}
		.copyright {
			color: #fa5798;
			position: absolute;
			right: 0;
			bottom: 20px;
			font-size: 77%;
		}
	}
}