@charset "utf-8";
@import "compass/utilities";
@import "compass";
@import "mixin";

body {
	background: #eefbfb url(../img/pc/bg.gif) repeat center top;
	width: 100%;
	min-width: 1150px;
}
/*--------------------------
	header
--------------------------*/
#header {
	background-color: #fa5798;
	overflow: hidden;
	margin-bottom: 17px;
	width: 100%;
	.header-inner {
		min-width: 1150px;
		display: table;
		@include clearfix;
		@extend %wrap;
		.logo {
			display: table-cell;
		}
	}
}

/*--------------------------
	gnav
--------------------------*/
#gnav {
		display: table-cell;
	li {
		display: table-cell;
		border-right: 1px solid #fff;
	}
}

/*--------------------------
	breadcrumbs
--------------------------*/
.breadcrumbs {
	height: auto;
	overflow: hidden;
	display: table;
	li {
		display: table-cell;
		height: 30px;
		padding-right: 0.5em;
		font-size: 93%;
		vertical-align: middle;
		&:first-child {
			background-image: url(../img/pc/icn08.png);
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 25px;
		}
		&:first-child:before{
			content: none;
		}
		&:before {
			content: ">";
			padding-right: 5px;
		}
		a {
			display: inline-block;
			color: #f95797;
			&:hover {
				color: #ed5400;
			}
		}
	}
}

/*--------------------------
	contents,main,side
--------------------------*/
#contents {
		@include clearfix;
		@extend %wrap;
		padding-bottom: 30px;
}
#main {
	display: inline-block;
	@extend %fl_l;
	width: 824px;
}
#side {
	display: inline-block;
	@extend %fl_r;
	width: 300px;
}
#footer {
	background-color: #fcf960;
	.footer-inner {
		@extend %wrap;
		padding: 28px 0;
		.foot-link {
			display: table;
			vertical-align: top;
			.left,
			.right { display: table-cell;}
			.left { width: 732px;}
			.right { width: 418px;}
			ul {
				@include clearfix;
				max-width: 666px;
				li {
					display: inline-block;
					float: left;
					margin-top: 15px;
					margin-left: 24px;
					&:nth-child(4n+1) { margin-left: 0;}
				}
			}
		}
	}
}
#footer2 {
	background-color: #ffffff;
	.inner {
		@extend %wrap;
		position: relative;
		.social-area {
			padding: 15px 0;
			@include clearfix;
			li {
				display: inline-block;
				float: left;
				margin-left: 10px;
				&:first-child { margin-left: 0;}
			}
		}
		.copyright {
			color: #fa5798;
			position: absolute;
			right: 0;
			bottom: 20px;
			font-size: 77%;
		}
	}
}
.pagetop {
	position: fixed;
	right: 30px;
	bottom: 210px;
	overflow: hidden;
	a {
		display: block;
		img {
			width: 53px;
			height: 53px;
		}
	}
}