@charset "utf-8";
@import "compass/utilities";
@import "compass";
@import "mixin";

body {
	background-color: #eefbfb;
	background-image: url(../img/sp/bg.gif);
	background-repeat: repeat;
	background-position: left top;
	background-size: 100%;
}
/*--------------------------
	header
--------------------------*/
#header {
	background-color: #fff;
	overflow: hidden;
	.header-inner {
		position: relative;
		display: table;
		width: 100%;
		@extend %wrap;
		.logo {
			display: table-cell;
			width: 85.3125%;
		}
		.btn-gnav {
			display: table-cell;
			width: 14.6875%;
			background-image: url(../img/sp/btn_gnav_close.png);
			background-repeat: no-repeat;
			background-position: right top;
			background-size: 100%;
			box-sizing: content-box;
			&.open {
				background-image: url(../img/sp/btn_gnav_open.png);
			}
		}
	}
}

/*--------------------------
	gnav
--------------------------*/
#gnav {
	ul {
		@include clearfix;
		li {
			background-color: #fa5798;
			background-image: url(../img/sp/bg_line01.png);
			background-repeat: repeat-y;
			background-position: right top;
			background-size: 1px 1px;
			display: inline-block;
			float: left;
			width: 50%;
			&:nth-child(n+3) {
				border-top: 1px solid #ff7bac;
			}
			&:nth-child(2n) {
				background-image: none;
				float: right;
			}
			a {
				background-image: url(../img/sp/arrow01.png);
				background-position: right 18px center;
				background-repeat: no-repeat;
				background-size: 7px 11px;
				display: block;
				img {
					width: 100%;
				}
			}
		}
	}
}

/*--------------------------
	contents,main,side
--------------------------*/
#contents {}
#main {
	width: 100%;
}
#side {
	width: 100%;
}
#footer {
	background-color: #fdfc9c;
	.footer-inner {
		.footer-inner-ttl {
			background-color: #fcf960;
			padding: 10px 0;
		}
		ul {
			@extend %clf;
			li {
				background-image: url(../img/sp/bg_line02.png);
				background-repeat: repeat-y;
				background-position: right top;
				background-size: 1px 1px;
				display: inline-block;
				float: left;
				width: 50%;
				&:nth-child(n+3) {
					border-top: 1px solid #ffcd52;
				}
				&:nth-child(2n) {
					background-image: none;
					float: right;
				}
				&.bdb {
					border-bottom: 1px solid #ffcd52;
				}
				a {
					background-image: url(../img/sp/arrow02.png);
					background-position: right 18px center;
					background-repeat: no-repeat;
					background-size: 7px 11px;
					display: block;
				}
			}
		}
	}
}
.copyright {
	background-color: #ffffff;
	color: #fa5798;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding: 20px 0;
}
.pagetop {
	position: fixed;
	right: 10px;
	bottom: 60px;
	overflow: hidden;
	a {
		display: block;
		width: 44px;
	}
}