@charset "utf-8";
/*****************************
	backgound
******************************/
.bg-type01 { background-image: url(../../common/img/sp/bg_type01.gif); background-repeat: repeat; background-size: 5px 5px;}
.bg-type02 { background-image: url(../../common/img/sp/bg_type02.gif); background-repeat: repeat; background-size: 5px 5px;}
.bg-type03 { background-image: url(../../common/img/sp/bg_type03.gif); background-repeat: repeat; background-size: 5px 5px;}
.bg-type04 { background-image: url(../../common/img/sp/bg_type04.gif); background-repeat: repeat; background-size: 5px 5px;}


/*****************************
	icon
******************************/
.icn {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 32px;
	&.type01 { background-image: url(../../common/img/pc/icn01.png);}
	&.type02 { background-image: url(../../common/img/pc/icn02.png);}
	&.type03 { background-image: url(../../common/img/pc/icn03.png);}
	&.type04 { background-image: url(../../common/img/pc/icn04.png);}
	&.type05 { background-image: url(../../common/img/pc/icn05.png);}
	&.type06 { background-image: url(../../common/img/pc/icn06.png); padding-left: 35px;}
	&.type07 { background-image: url(../../common/img/pc/icn07.png);}
}
/*****************************
	img
******************************/
.full { width: 100%;}

/*****************************
	btn
******************************/
.btn {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	text-decoration: none;
	&.type01 {
		background-color: #fa5798;
		color: #ffffff;
		padding: 5px 0;
		background-image: url(../img/sp/arrow01.png);
		background-position: right 10px center;
		background-repeat: no-repeat;
		background-size: 7px 11px;
	}
}

/*****************************
	list
******************************/
.list-type01 { border-top: 1px solid #cdcdcd;
	li {
		background-image: url(../../common/img/common/icn_arrow02.png);
		background-repeat: no-repeat;
		background-position: 10px center;
		background-size: 9px 11px;
		-webkit-background-size: 9px 11px;
		padding: 15px 10px 10px 30px;
		border-bottom: 1px solid #cdcdcd;
		a { color: #16609d;}
	}
}
.list-type-center {
	text-align: center;
	overflow: hidden;
	li {
		display: inline-block;
		a { color: #16609d;}
	}
}

/*****************************
	inner
******************************/
.inner5 {
	padding: 5px;
}
.inner10 {
	padding: 10px;
}
.inner15 {
	padding: 15px;
}

/*****************************
	ttl
******************************/
.ttl {}

/*****************************
	module
******************************/
.module-type01 {

}
.module-head {
	@extend %clf;
	position: relative;
	.module-head-ttl {

	}
	.right {
		position: absolute;
		top: 5px;
		right: 0;
	}
}
.module-body {}