@charset "utf-8";
@import "compass/utilities";
@import "compass";
@import "mixin";

/*****************************
	backgound
******************************/
.bg-type01 { background-image: url(../../common/img/pc/bg_type01.gif); background-repeat: repeat;}
.bg-type02 { background-image: url(../../common/img/pc/bg_type02.gif); background-repeat: repeat;}
.bg-type03 { background-image: url(../../common/img/pc/bg_type03.gif); background-repeat: repeat;}
.bg-type04 { background-image: url(../../common/img/pc/bg_type04.gif); background-repeat: repeat;}
.bg-type05 { background-image: url(../../common/img/pc/bg_type05.gif); background-repeat: repeat;}
.bg-type06 { background-image: url(../../common/img/pc/bg_type06.gif); background-repeat: repeat;}
.bg-type07 { background-image: url(../../common/img/pc/bg_type07.gif); background-repeat: repeat;}
.bg-black { background: #000000; color: #ffffff; text-align: center; padding: 2px 2px 0;}
.bg-white { background: #ffffff;}
.bg-gray { background: #f7f7f7;}
.bg-gray2 { background: #8e8e8e;}
.bg-pink { background: #fa5798;}

/*****************************
	color
******************************/
.pink { color: #fa5798;}
.white { color: #ffffff;}
.red { color: #ff0000;}
.orange { color: #ff8934;}
.blue { color: #69bbf7;}
.violet { color: #ff84e6;}
.green { color: #a5e34f;}
.gray { color: #8e8e8e;}

/*****************************
	border
******************************/
.bd-pink { border: 2px solid #f95797;}
.bdb-violet { border-bottom: 4px solid #d7a7db;}
.bdb-pink { border-bottom: 4px solid #ffa6a6;}

/*****************************
	border
******************************/
.bdbd {
	border-bottom: 1px dotted #cccccc;
}

/*****************************
	position
******************************/
.prl { position: relative;}
.pab { position: absolute;}
.pfx { position: fixed;}

/*****************************
	overflow
******************************/
.ovf-h { overflow: hidden;}

/*****************************
	icon
******************************/
.icn {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 32px;
	&.type01 { background-image: url(../../common/img/pc/icn01.png);}
	&.type02 { background-image: url(../../common/img/pc/icn02.png);}
	&.type03 { background-image: url(../../common/img/pc/icn03.png);}
	&.type04 { background-image: url(../../common/img/pc/icn04.png);}
	&.type05 { background-image: url(../../common/img/pc/icn05.png);}
	&.type06 { background-image: url(../../common/img/pc/icn06.png); padding-left: 35px;}
	&.type07 { background-image: url(../../common/img/pc/icn07.png);}
	&.type09 { background-image: url(../../common/img/pc/icn09.png); padding-left: 25px;}
	&.type10 { background-image: url(../../common/img/pc/icn10.png); padding-left: 25px;}
	&.type11 { background-image: url(../../common/img/pc/icn11.png);}
	&.type14 { background-image: url(../../common/img/pc/icn14.png);}
	&.type16 { background-image: url(../../common/img/pc/icn16.png); padding-left: 25px;}
	&.top {
		&.type09 {
			background-image: url(../../common/img/pc/icn09.png);
			background-position: left -5px;
			padding-left: 25px;
		}
	}
}

/*****************************
	btn
******************************/
.btn {
	@include border-radius(4px);
	text-decoration: none;
	&.type01 {
		background-color: #fa5798;
		color: #ffffff;
		display: table;
		margin: 15px auto 0;
		width: 100%;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		font-size: 93%;
		&.middle {
			width: 398px;
		}
	}
	&.type02 {
		background-color: #fa5798;
		color: #ffffff;
		display: inline-table;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		padding: 0 1em;
		font-size: 93%;
	}
	&.type03 {
		background-color: #fa5798;
		color: #ffffff;
		display: table;
		margin: 15px auto 0;
		width: 100%;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		font-size: 93%;
		padding: 0.5em 0;
	}
	span {
		display: table-cell;
		vertical-align: middle;
		height: 38px;
		img {
			vertical-align: middle;
		}
	}
}
.btn02 {
	display: table;
	border: 2px solid #f95797;
	background-color: #fff799;
	padding: 0 10px;
	text-decoration: none;
	color: #f95797;
	font-weight: bold;
	span {
		display: table-cell;
		vertical-align: middle;
		height: 24px;
	}
}
.btn-input {
	text-align: center;
	border: none;
	color: #ffffff;
	font-size: 93%;
	width: 60%;
	margin: 0 5px;
	padding: 12px 0 8px;
	cursor: pointer;
	&.w220 {
		width: 220px;
	}
}

/*****************************
	list
******************************/
.list-type01 {
	margin-bottom: 20px;
	overflow: hidden;
	li {
		margin-top: 1em;
		&:first-child { margin-top: 0;}
	}
}
.list-type-center {
	text-align: center;
	overflow: hidden;
	li {
		display: inline-block;
		a { color: #16609d;}
	}
}
.notice {
	li {
		text-indent: -1em;
		margin-left: 1em;
		color: #999999;
		font-size: 77%;
	}
}
.list-type02 {
	overflow: hidden;
	li {
		display: inline-block;
		float: left;
		width: 48%;
		padding: 20px 1%;
		&.bdbd {
			&:last-child,
			&:nth-last-child(2) {
				border-bottom: none;
				padding: 20px 1% 10px;
			}
		}
	}
}

/*****************************
	inner
******************************/
.inner5 {
	padding: 5px!important;
}
.inner10 {
	padding: 10px!important;
}
.inner15 {
	padding: 15px!important;
}

/*****************************
	ttl
******************************/
.ttl-type01 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	.inner {
		vertical-align: middle;
		border-left: 5px solid #fa5798;
		padding: 5px 0 2px 10px;
		font-size: 123.1%;
		font-weight: bold;
	}
}
.ttl-txt {
	font-size: 182%;
	font-weight: bold;
	vertical-align: bottom;
	margin-right: 5px;
}

/*****************************
	table
******************************/
.tbl01 {
	background-color: #f2f2f2;
	width: 100%;
	th,td {
		padding: 20px;
		border: 1px solid #ffffff;
	}
	th {
		font-weight: bold;
	}
	td {
		input {
			width: 33%;
		}
		textarea {
			width: 100%;
		}
	}
}

/*****************************
	pager
******************************/
.page {
	text-align: center;
	overflow: hidden;
	margin: 20px 0;
	.page-numbers {
		display: inline-block;
		background: #ffffff;
		border: 1px solid #f95797;
		padding: 5px 10px 2px;
		color: #f95797;
		text-decoration: none;
		&.dots {
			background: none;
			border: none;
		}
		&.current {
			background: #ffe0ee;
		}
		&.prev {
			margin-right: 20px;
		}
		&.next {
			margin-left: 20px;
		}
	}
}

/*****************************
	module
******************************/
.module-type01 {
	margin-bottom: 20px;
}
.module-head {
	position: relative;
	.desc {
		p {
			font-size: 93%;
			line-height: 1.6;
			color: #4d4d4d;
		}
	}
	.right {
		position: absolute;
		top: 5px;
		right: 0;
		.update {
			background-color: #fff104;
			font-size: 77%;
			font-weight: bold;
			padding: 5px 5px 3px;
		}
	}
}

/*****************************
	module-box
******************************/
.module-box {
	display: table;
	width: 100%;
	.module-box-left,
	.module-box-right {
		display: table-cell;
		vertical-align: top;
	}
	.module-box-left {
		&.w108 { width: 108px;}
		&.w98 { width: 98px;}
	}
	.module-box-right {
		padding: 0 15px;
		.module-box-ttl {
			display: block;
			margin-bottom: 15px;
		}
		.module-box-desc {
			font-size: 93%;
			text-align: left;
			line-height: 1.6;
			margin-bottom: 15px;
		}
		.module-box-source {
			background-color: #f7f7f7;
			color: #fa5798;
			padding: 5px;
			display: block;
			font-size: 77%;
			line-height: 1.2;
			word-wrap: break-word;
			margin-bottom: 15px;
		}
	}
}