@charset "utf-8";
@import "compass/utilities";
@import "mixin";

/*index*/

/* カルーセルスライダー */
#mainvisual {
	margin-bottom: 8px;
}
.slider-area {
	width: 720px;
	// padding: 20px 0;
	padding: 20px 52px;
	&#blogsupporter {
		position: relative;
		width: 680px;
		padding: 20px 52px 20px 97px;
		.ttl {
			position: absolute;
			display: block;
			top: 20px;
			left: 52px;
		}
	}
}
// .bx-clone { display: none;}
#mainvisual .bx-wrapper,
.slider-area .bx-wrapper {
	width: inherit;
	position: relative;
	height: 100%;
}
.slider-area .bx-wrapper {
	margin: 0 52px!important;
}
#mainvisual .bx-prev,
#mainvisual .bx-next {
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 44px;
	height: 44px;
	top: 42%;
	padding-bottom: 45%;
}
#mainvisual .bx-prev,
#mainvisual .slick-prev {
	background-image: url(../../common/img/pc/arrow_left02.png);
	left: 0;
}
#mainvisual .bx-next,
#mainvisual .slick-next {
	background-image: url(../../common/img/pc/arrow_right02.png);
	right: 0;
}
#mainvisual .slick-prev,
#mainvisual .slick-next {
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 44px;
	height: 44px;
	top: 42%;
	padding-bottom: 45%;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
}
.slick-dots { display: none!important;}
.slider-type01 .bx-prev,
.slider-type01 .slick-prev {
	background-image: url(../../common/img/pc/arrow_left01.png);
	left: -197px;
}
.slider-type01 .bx-next,
.slider-type01 .slick-next {
	background-image: url(../../common/img/pc/arrow_right01.png);
	right: -47px;
}
.slider-type02 .bx-prev,
.slider-type02 .slick-prev {
	background-image: url(../../common/img/pc/arrow_left01.png);
	left: -52px;
}
.slider-type02 .bx-next,
.slider-type02 .slick-next {
	background-image: url(../../common/img/pc/arrow_right01.png);
	right: -52px;
}
.slider-type01 .slick-prev,
.slider-type01 .slick-next,
.slider-type02 .slick-prev,
.slider-type02 .slick-next {
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 31px;
	height: 31px;
	top: 42%;
	padding-bottom: 45%;
	cursor: pointer;
	color: transparent;
	border: none;
	outline: none;
}
.slider-area {
	.index-list {
		li {
			a,.nolink {
				width: 140px;
				min-height: 152px;
			}
		}
	}
}
.index-list {
	&.type07c {
		overflow-y: hidden;
		text-align: center;
		margin-bottom: 40px;
		li {
			width: 140px!important;
			display: inline-block;
			margin: 3px;
			position: relative;
			a,.nolink {
				min-height: auto;
			}
			a {
				padding-bottom: 5px;
				span {
					&.blog-ttl {
						padding: 5px 5px 0;
						-webkit-line-clamp: 1;
						-moz-line-clamp: 1;
						-ms-line-clamp: 1;
						line-clamp: 1;
						height: auto;
						text-align: left;
						&.pd10 {
							padding: 10px 10px 5px;
						}
					}
				}
				.icn-new {
					display: none;
				}
				&.new {
					.icn-new {
						display: block;
						position: absolute;
						top: 1px;
						left: 1px;
					}
				}
			}
		}
	}
	&.type-side01 {
		overflow-y: hidden;
		li {
			width: 134px!important;
			display: inline-block;
			float: left;
			margin-top: 2px;
			&:first-child,
			&:nth-child(2) {
				margin-top: 0;
			}
			&:nth-child(2n) {
				float: right;
			}
			a,.nolink {
				min-height: auto;
			}
			a {
				padding-bottom: 5px;
				span {
					&.blog-ttl {
						padding: 5px 5px 0;
						-webkit-line-clamp: 1;
						-moz-line-clamp: 1;
						-ms-line-clamp: 1;
						line-clamp: 1;
						height: auto;
						&.pd10 {
							padding: 10px 10px 5px;
						}
					}
				}
			}
		}
	}
	li {
		a,.nolink {
			background-color: #ffffff;
			display: block;
			text-decoration: none;
			.thumbsnail {
				vertical-align: middle;
			}
			span {
				display: block;
				&.update {
					background-color: #000000;
					color: #ffffff;
					display: block;
					font-size: 77%;
					padding: 5px 10px;
					margin-bottom: 5px;
				}
				&.model-name {
					color: #000000;
					padding: 5px;
					font-size: 93%;
					font-weight: bold;
					&.type02 {
						color: #ff778c;
						font-weight: normal;
					}
				}
				&.blog-ttl {
					color: #000000;
					padding: 5px;
					font-size: 93%;
					font-weight: bold;
					-webkit-line-clamp: 3;
					-moz-line-clamp: 3;
					-ms-line-clamp: 3;
					line-clamp: 3;
					-webkit-box-orient: vertical;
					-moz-box-orient: vertical;
					-ms-box-orient: vertical;
					box-orient: vertical;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-box;
					display: box;
					overflow: hidden;
					white-space: normal;
					text-overflow: ellipsis;
					-o-text-overflow: ellipsis;
					line-height: 1.4;
					height: 3.6em;
				}
				&.blog-desc {
					color: #000000;
					padding: 5px;
					font-size: 93%;
					font-weight: bold;
				}
				&.blog-theme {
					color: #ff778c;
					padding: 5px;
					font-size: 93%;
					font-weight: normal;
				}
			}
			&:hover {
				.model-name,
				.blog-ttl {
					color: #ff778c;
					text-decoration: underline;
				}
				.model-name.type02 {
					text-decoration: none;
				}
			}
			.icn-new {
				display: none;
			}
			&.new {
				position: relative;
				.icn-new {
					display: block;
					position: absolute;
					top: 75px;
					right: 3px;
				}
			}
		}
	}
}

/*タイムライン*/
.masonry {
	width: 804px;
	margin: 0 auto;
	overflow: hidden;
	.masonry-inner {
		width: 100%;
		margin: 0 auto;
		.item {
			width: 258px;
			margin: 5px;
			background-color: #ffffff;
			a {
				border: 6px solid #ffffff;
				display: block;
				text-decoration: none;
				&:hover { border: 6px solid #fa5798;}
				dl.update {
					background-color: #000000;
					display: table;
					width: 100%;
					margin-bottom: 10px;
					dt,dd {
						display: table-cell;
						vertical-align: middle;
					}
					dd {
						text-decoration: none;
						color: #ffffff;
						font-size: 77%;
					}
				}
				span {
					display: block;
					padding: 0 10px;
					margin-bottom: 10px;
					&.update {
						background-color: #000000;
						text-align: center;
						color: #ffffff;
						font-size: 85%;
						padding: 10px;
					}
					&.blog-ttl {
						font-size: 123.1%;
						font-weight: bold;
						color: #000000;
						-webkit-line-clamp: 2;
						-moz-line-clamp: 2;
						-ms-line-clamp: 2;
						line-clamp: 2;
						-webkit-box-orient: vertical;
						-moz-box-orient: vertical;
						-ms-box-orient: vertical;
						box-orient: vertical;
						display: -webkit-box;
						display: -moz-box;
						display: -ms-box;
						display: box;
						overflow: hidden;
						white-space: normal;
						text-overflow: ellipsis;
						-o-text-overflow: ellipsis;
						line-height: 1.4;
						max-height: 2.6em;
					}
					&.blog-desc {
						font-size: 93%;
						color: #000000;
						line-height: 1.4;
						&.type02 {
							-webkit-line-clamp: 2;
							-moz-line-clamp: 2;
							-ms-line-clamp: 2;
							line-clamp: 2;
							-webkit-box-orient: vertical;
							-moz-box-orient: vertical;
							-ms-box-orient: vertical;
							box-orient: vertical;
							display: -webkit-box;
							display: -moz-box;
							display: -ms-box;
							display: box;
							overflow: hidden;
							white-space: normal;
							text-overflow: ellipsis;
							-o-text-overflow: ellipsis;
						}
					}
					&.name {
						text-align: center;
						margin: 10px 0 0;
						color: #000000;
					}
				}
				&:hover {
					span {
						&.blog-ttl {
							color: #fa5798;
							text-decoration: underline;
						}
					}
				}
				.icn-new {
					display: none;
				}
				&.new {
					position: relative;
					.icn-new {
						display: block;
						position: absolute;
						top: 5px;
						left: 5px;
					}
				}
			}
			&.empty {
				background-color: #ffcece;
				a {
					text-align: center;
					display: block;
					border: 6px solid #ffcece;
				}
			}
		}
	}
	.btn-more {
		background-color: #fa5798;
		display: table;
		text-align: center;
		width: 100%;
		margin-bottom: 10px;
		span {
			display: table-cell;
			height: 38px;
			line-height: 1;
			vertical-align: middle;
		}
	}
}

/*welovepuchi*/
#welovepuchi {
	padding: 12px;
	li {
		margin: 2px;
		background-color: #ffffff;
		a {
			display: block;
			text-decoration: none;
			.name {
				display: block;
				padding: 10px 6px;
				color: #000000;
			}
		}
	}
}

.bnr-area {
	margin-bottom: 20px;
	li {
		margin-top: 10px;
		&:first-child { margin-top: 0;}
	}
}

.index-list-type02 {
	li {
		a {
			display: block;
			text-decoration: none;
			.icn-new {
				display: none;
			}
			&.new {
				position: relative;
				.icn-new {
					display: block;
					position: absolute;
					top: 2px;
					left: 2px;
				}
			}
		}
	}
	&.fl {
		li {
			border-top: 1px dotted #cccccc;
			&:first-child { border-top: none;}
			a {
				position: relative;
				dl {
					background-color: #ffffff;
					display: table;
					width: 100%;
					dt,dd {
						display: table-cell;
						vertical-align: top;
					}
					dt {
						text-align: center;
						padding: 10px;
						.date {
							background-color: #000000;
							display: block;
							color: #ffffff;
							padding: 5px;
							text-decoration: none;
							font-size: 77%;
						}
					}
					dd {
						padding: 10px 0 ;
						text-align: left;
						.desc {
							color: #000000;
							margin-bottom: 5px;
							font-weight: bold;
						}
						span {
							margin-right: 5px;
							&.date {
								background-color: #000000;
								color: #ffffff;
								padding: 3px 5px;
								text-decoration: none;
								font-size: 77%;
								line-height: 1;
							}
							&.category {
								border: 1px solid #fa5798;
								color: #fa5798;
								padding: 2px 4px;
								font-size: 77%;
								line-height: 1;
							}
							&.name {
								color: #fa5798;
								font-size: 77%;
								line-height: 1;
							}
						}
					}
				}
				&:hover {
					dd {
						.desc {
							color: #fa5798;
							text-decoration: underline;
						}
					}
				}
				.rank {
					@include border-radius(30px);
					background-color: #ffffff;
					width: 30px;
					line-height: 28px;
					vertical-align: middle;
					position: absolute;
					padding-top: 2px;
					top: 12px;
					left: 12px;
					text-align: center;
					color: #000000;
					font-weight: bold;
					&.no1 {
						background-color: #d9b340;
						color: #ffffff;
					}
					&.no2 {
						background-color: #6f7b83;
						color: #ffffff;
					}
					&.no3 {
						background-color: #a15326;
						color: #ffffff;
					}
				}
			}
		}
	}
	&#magazine {
		li {
			border-top: 1px dotted #cccccc;
			&:first-child { border-top: none;}
			.inner {
				display: block;
				dl {
					display: table;
					width: 100%;
					dt,dd {
						display: table-cell;
					}
					dt {
						width: 108px;
						vertical-align: top;
						text-align: left;
						padding-right: 15px;
						.date {
							background-color: #000000;
							display: block;
							color: #ffffff;
							padding: 5px;
							text-decoration: none;
							color: #ffffff;
							font-size: 77%;
						}
					}
					dd {
						text-align: center;
						vertical-align: bottom;
						position: relative;
						.ttl {
							position: absolute;
							top: 5px;
							left: 0;
							font-size: 123.1%;
							font-weight: bold;
							.price {
								display: block;
								margin-top: 10px;
								font-size: 74%;
								font-weight: bold;
								white-space: nowrap;
							}
						}
						a {
							margin: 5px 0;
							padding: 5px;
							line-height: 1;
							&.btn {
								background-color: #fa5798;
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
	&#sticker {
		li {
			overflow: hidden;
			dl {
				@include clearfix;
				dt,dd {
					display: inline-block;
				}
				dt {
					float: right;
					width: 93px;
				}
				dd {
					float: left;
					width: 165px;
					.desc { margin-bottom: 10px;}
					.source {
						background-color: #ffffff;
						color: #fa5798;
						padding: 5px;
						display: block;
						font-size: 77%;
						line-height: 1.2;
						word-wrap: break-word;
					}
				}
			}
		}
	}
}
#puchicore5 {
	@include clearfix;
	@extend %wrap;
	border-top: 1px solid #fa5798;
	.ttl {
		margin: 28px 0;
		text-align: center;
	}
	ul {
		margin: 0 70px;
		overflow: hidden;
		li {
			display: inline-block;
			float: left;
			width: 189px;
			margin-top: 16px;
			margin-left: 16px;
			&:nth-child(5n+1) { margin-left: 0;}
			&:nth-child(-n+5) { margin-top: 0;}
			a { color: #16609d;}
		}
	}
}

.index-list-type03 {
	li {
		background-color: #ffffff;
		padding: 0 10px;
		&:first-child {
			a { border-top: none;}
		}
		a {
			display: block;
			text-decoration: none;
			padding: 10px 0;
			border-top: 1px dotted #cccccc;
			span {
				display: block;
				&.desc {
					margin-bottom: 5px;
					font-size: 93%;
					font-weight: bold;
					color: #000000;
				}
				&.name {
					color: #fa5798;
					background-image: url(../../common/img/pc/icn11.png);
					background-repeat: no-repeat;
					background-position: left center;
					padding-left: 26px;
				}
			}
			&:hover {
				.desc {
					color: #fa5798;
				}
			}
			.icn-new {
				display: none;
			}
			&.new {
				position: relative;
				.icn-new {
					display: block;
					position: absolute;
					top: 2px;
					left: 2px;
				}
			}
		}
	}
}

/*02*/
.page02-01 {
	@include clearfix;
	background-color: #ffffff;
	padding-bottom: 40px;
	overflow: hidden;
	.left {
		display: inline-block;
		float: left;
		width: 492px;
		margin: 0 10px;
	}
	.right {
		display: inline-block;
		float: right;
		width: 252px;
		margin: 0 10px;
	}
}
.page02-01-foot {
	position: relative;
	margin-bottom: 20px;
	dt {
		position: absolute;
		top: -5px;
		left: 0;
	}
	dd {
		background: #f7f7f7;
		padding: 10px 10px 10px 105px;
		.desc {
			line-height: 1.6;
			margin-bottom: 10px;
		}
	}
}
.theme {
	background-color: #ffffff;
	padding: 15px;
	.theme-inner {
		display: table;
		width: 100%;
		.theme-left {
			display: table-cell;
			vertical-align: top;
			width: 230px;
			.ttl {
				margin-bottom: 10px;
			}
			.date {
				span {
					font-weight: bold;
				}
			}
		}
		.theme-right {
			display: table-cell;
			vertical-align: top;
			.desc-theme {
				margin-bottom: 10px;
				span {
					background: url(../../common/img/pc/icn13l.png) no-repeat left center,url(../../common/img/pc/icn13r.png) no-repeat right center;
					padding: 10px 25px;
					color: #fa5798;
					font-size: 93%;
				}
			}
			.ttl-theme {
				@include border-radius(6px);
				background: url(../../common/img/pc/bg_type08.png) repeat;
				padding: 5px;
				margin-bottom: 10px;
				span {
					background-color: #ffffff;
					padding: 10px 20px 5px;
					display: block;
					font-size: 167%;
					font-weight: bold;
				}
			}
			.ttl-next-theme {
				img {
					vertical-align: middle;
					margin-right: 5px;
				}
				span {
					background-color: #f6ed80;
					padding: 5px 3px 2px;
					font-weight: bold;
				}
			}
		}
	}
}
.select-area {
	background: url(../../common/img/pc/02/bg_select_r.png) no-repeat right top;
	overflow: hidden;
	padding-right: 11px;
	margin-bottom: 20px;
	.select-area-inner {
		background: url(../../common/img/pc/02/bg_select_l.png) no-repeat left top;
		@include clearfix;
		display: inline-table;
		float: right;
		height: 31px;
		.select-box-left {
			display: table-cell;
			padding: 0 20px;
			text-align: left;
		}
		.select-box-right {
			display: table-cell;
			text-align: right;
		}
		span {
			display: inline;
			vertical-align: middle;
			text-align: center;
			&.ttl01 {
				color: #fff875;
				font-size: 93%;
				text-align: center;
			}
			&.ttl02 {
				color: #ffffff;
				font-size: 93%;
				text-align: center;
			}
		}
		.easy-select-box{
			background: url(../../common/img/pc/icn_delta01.png) no-repeat right 2px;
			padding-right: 25px;
			display: inline-block;
			font-size: 93%;
			color: #ffffff;
		}
		.easy-select-box .esb-displayer{
			color: #ffffff;
			cursor: default;
			height: 30px;
			line-height:30px;
			padding:0 3px;
			text-indent: 5px;
			text-align: right;
		}
		.easy-select-box .esb-displayer:hover {
			filter: alpha(opacity=80);
			-ms-filter: 'alpha(opacity=80)';
			opacity: .8;
		}
		.easy-select-box:hover .esb-displayer{
			text-decoration:none;
		}
		.easy-select-box.disabled .esb-displayer,
		.easy-select-box:hover.disabled .esb-displayer{
			background-position: 0 -36px;
		}
		.easy-select-box .esb-dropdown{
			background: #fff;
			border: 1px solid #ccc;
			display: none;
			max-height: 200px;
			overflow: auto;
			position: absolute;
			z-index: 999;
		}
		.easy-select-box .esb-item{
			padding:3px;
			background:#fffdf4;
			color:#0c2245;
			cursor:default;
			text-align: left;
		}
		.easy-select-box .esb-item:hover{
			background:#d2ba85;
			color:#FFFFFF;
			text-decoration:none;
		}
	}
}
.pageview {
	background: url(../../common/img/pc/02/bg_pageview.png) no-repeat left top;
	width: 260px;
	height: 112px;
	position: absolute;
	top: -105px;
	left: 10px;
	.pageview-month {
		color: #fa5798;
		font-size: 250%;
		position: absolute;
		top: 20px;
		left: 75px;
		font-weight: bold;
	}
	.pageview-score {
		position: absolute;
		bottom: 26px;
		left: 90px;
		font-weight: bold;
		font-size: 163%;
		letter-spacing: 6px;
	}
}
#og-list {
	.og-desc {
		margin-bottom: 5px;
		.og-icon {
			background-color: #fff362;
			color: #ef8200;
			padding: 5px 5px 3px;
		}
		.og-name {
			font-size: 123.1%;
		}
	}
	.blog-link {
		color: #f95797;
		font-size: 123.1%;
		font-weight: bold;
	}
}

/*04*/
.select-month {
	background: url(../../common/img/pc/04/bg_month.png) no-repeat left top;
	display: inline-table;
	margin-right: 6px;
	width: 247px;
	height: 31px;
	dt,dd {
		display: table-cell;
		width: 50%;
	}
	dt {
		color: #fff875;
		font-size: 93%;
		text-align: center;
	}
	dd {
		.easy-select-box{
			text-align:left;
			font-size: 93%;
			color: #ffffff;
		}
		.easy-select-box .esb-displayer{
			color: #ffffff;
			cursor: default;
			height: 30px;
			line-height:30px;
			padding:0 3px;
			text-indent: 5px;
		}
		.easy-select-box .esb-displayer:hover {
			filter: alpha(opacity=80);
			-ms-filter: 'alpha(opacity=80)';
			opacity: .8;
		}
		.easy-select-box:hover .esb-displayer{
			text-decoration:none;
		}
		.easy-select-box.disabled .esb-displayer,
		.easy-select-box:hover.disabled .esb-displayer{
			background-position: 0 -36px;
		}
		.easy-select-box .esb-dropdown{
			background: #fff;
			border: 1px solid #ccc;
			display: none;
			max-height: 200px;
			overflow: auto;
			position: absolute;
			z-index: 999;
		}
		.easy-select-box  .esb-item{
			padding:3px;
			background:#fffdf4;
			color:#0c2245;
			cursor:default;
		}
		.easy-select-box .esb-item:hover{
			background:#d2ba85;
			color:#FFFFFF;
			text-decoration:none;
		}
	}
}
.blog-name {
	background: url(../../common/img/pc/04/bg_comment.png) no-repeat 120px top;
	margin: 0 72px;
	@include clearfix;
	position: relative;
	dt {
		width: 120px;
		display: inline-block;
		float: left;
	}
	dd {
		background: url(../../common/img/pc/04/bg_comment_r.png) no-repeat right top;
		padding: 50px 50px 50px 68px;
		position: absolute;
		top: 0;
		left: 120px;
		display: inline;
		span {
			&.name {
				background-color: #f6ed80;
				font-size: 197%;
				font-weight: bold;
			}
			&.name2 {
				font-size: 138.5%;
				vertical-align: bottom;
				span { vertical-align: bottom;}
				img {
					vertical-align: bottom;
					margin-left: 5px;
				}
			}
		}
	}
}
.blog-area {
	background: url(../../common/img/pc/04/bg_type01.png) repeat-y center top;
	padding: 0 72px;
	overflow: hidden;
	.blog-inner {
		background-color: #ffffff;
		padding: 20px;
		overflow: hidden;
		.blog-head {
			position: relative;
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid #fa5798;
			.date {
				background-color: #000000;
				color: #ffffff;
				padding: 3px 5px 0;
			}
			.ttl {
				margin-top: 20px;
				font-size: 153.9%;
				font-weight: bold;
			}
			.blogger {
				position: absolute;
				top: 0;
				right: 0;
				dt {
					img { width: 88px;}
				}
				dd {
					text-align: center;
				}
			}
		}
		.blog-main {
			margin: 0 150px;
			.thumbsnail {
				text-align: center;
				margin: 30px 0;
			}
			p {
				font-size: 108%;
				line-height: 1.6;
				text-align: left;
			}
		}
		.blog-foot {
			margin: 40px 150px;
			.pagenav {
				text-align: center;
				li {
					display: inline-block;
					a {
						display: table;
						border: 1px solid #fa5798;
						text-decoration: none;
						span {
							display: table-cell;
							vertical-align: middle;
							color: #fa5798;
							font-weight: bold;
							padding: 8px 15px 5px;
						}
					}
					&:first-child {
						float: left;
						a {
							span:before {
								content: "<";
								margin-right: 5px;
							}
						}
					}
					&:last-child {
						float: right;
						a {
							span:after {
								content: ">";
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
		.blog-comment {
			position: relative;
			.btn-list {
				position: absolute;
				top: 0;
				right: 0;
				li {
					display: inline-block;
					float: left;
					margin-left: 10px;
					&:first-child { margin-left: 0;}
					a {
						background-color: #fa5798;
						color: #ffffff;
						text-decoration: none;
						display: table;
						font-size: 93%;
						span {
							display: table-cell;
							vertical-align: middle;
							padding: 8px 10px 5px;
							&:before {
								content: "<";
								margin-right: 5px;
							}
						}
					}
				}
			}
			.inner {
				background-color: #f2f2f2;
				padding: 20px;
				margin-top: 20px;
				.ttl-comment {
					background: url(../../common/img/pc/icn12.png) no-repeat left center;
					padding-left: 26px;
					font-weight: bold;
				}
				ul {
					li {
						border-top: 1px dotted #cccccc;
						padding: 30px 0;
						&:first-child { border-top: none;}
						.comment-desc {
							margin-bottom: 30px;
							.thumbsnail {
								text-align: center;
							}
							p {
								line-height: 1.6;
							}
						}
						.comment-foot {
							text-align: right;
						}
					}
				}
			}
		}
	}
}

/*05*/
.profile-area {
	background-color: #ffffff;
	margin: -15px 15px 15px;
	padding: 15px;
	.profile-table {
		@include clearfix;
		margin-bottom: 40px;
		.profile-image {
			display: inline-block;
			float: left;
		}
		.profile-data {
			display: inline-block;
			float: right;
			width: 330px;
			.ttl {
				font-size: 182%;
				color: #fa5798;
				margin-bottom: 20px;
			}
			.data {
				display: table;
				width: 100%;
				font-size: 93%;
				dt,dd {
					display: table-cell;
					padding-bottom: 15px;
				}
				dt {
					width: 30%;
					color: #b3b3b3;
				}
				dd {
					width: 70%;
					a {
						color: #fa5798;
					}
				}
			}
			.address {
				line-height: 1.8;
			}
		}
	}
	.profile-faq {
		margin-bottom: 10px;
		dt {
			@include border-radius(3px);
			background-color: #fbeef4;
			padding: 5px 5px 2px;
			span {
				color: #ea6ea4;
				&:before {
					content: "Q.";
					padding-right: 5px;
					font-weight: bold;
				}
			}
		}
		dd {
			@include clearfix;
			padding: 10px 5px;
			img {
				float: left;
			}
			p {
				font-size: 93%;
			}
		}
	}
}

/*06*/
#photo-diary {
	background-image: url(../../common/img/pc/06/bg_diary.png);
	background-repeat: no-repeat;
	background-position: center 20px;
	overflow: hidden;
	.photo-diary-main {
		overflow: hidden;
		position: relative;
		li {
			.photo-diary-box {
				display: table;
				width: 575px;
				margin: 90px 100px 135px 145px;
				.photo {
					width: 265px;
					display: table-cell;
					padding-top: 15px;
				}
				.desc-area {
					display: table-cell;
					padding: 0 15px 0 45px;
					vertical-align: top;
					text-align: right;
					.desc-date {
						text-align: right;
						font-size: 93%;
						margin: 10px 0 20px;
					}
					.desc-ttl {
						font-size: 116%;
						text-align: left;
						margin-bottom: 10px;
					}
					.desc-txt {
						text-align: left;
						line-height: 1.6;
					}
				}
				.month {
					position: absolute;

				}
				.month {
					background: url(../../common/img/pc/06/bg_month.png) no-repeat left top;
					position: absolute;
					bottom: -60px;
					left: 335px;
					width: 102px;
					height: 90px;
					span {
						position: absolute;
						display: block;
						width: 45px;
						top: 19px;
						left: 5px;
						text-align: right;
						font-size: 300%;
						font-weight: bold;
						color: #ffffff;
					}
				}
				.icn-new { display: none;}
				.btn-prev,
				.btn-next {
					position: absolute;
					top: 120px;
					display: block;
				}
				.btn-prev { left: 0px;}
				.btn-next { right: 0px;}
			}
			&.new {
				position: relative;
				.icn-new {
					display: block;
					position: absolute;
					top: -35px;
					left: 90px;
				}
			}
		}
	}
	.photo-diary-foot {
		ul {
			overflow: hidden;
			li {
				display: block;
				float: left;
				&:nth-child(4n+1) {
					a {
						margin: 10px 0 0 5px;
					}
				}
				a {
					display: block;
					margin: 10px 0 0 10px;
					text-decoration: none;
					&:hover {
						img {
							border: 10px solid #fa5798;
						}
					}
					img {
						display: block;
						border: 10px solid #ffffff;
					}
					span {
						display: block;
						text-align: center;
						padding: 5px 0 2px;
						color: #ffffff;
						font-size: 93%;
						&.green { background-color: #a5e34f;}
						&.blue { background-color: #69bbf7;}
						&.pink { background-color: #ff95d1;}
						&.orange { background-color: #ff8934;}
					}
					.icn-new { display: none;}
				}
				&.new {
					position: relative;
					a {
						.icn-new {
							border: none;
							display: block;
							position: absolute;
							top: 2px;
							left: 2px;
						}
					}
				}
			}
		}
	}
}
/*07*/
.new-magazine {
	background: url(../../common/img/pc/bg_type09.png) repeat;
	border: 2px solid #fb9ac0;
	display: table;
	.new-magazine-left {
		background: url(../../common/img/pc/07/bg_star.png) no-repeat left top;
		position: relative;
		display: table-cell;
		width: 186px;
		padding: 20px 20px 15px 20px;
		.new-magazine-ttl {
			position: absolute;
			top: -3px;
			left: -3px;
			z-index: 2;
		}
		.btn-area {
			margin: 10px 0 10px 10px;
		}
	}
	.new-magazine-right {
		display: table-cell;
		width: 534px;
		ul {
			display: table;
			width: 490px;
			margin: 0 0 0 15px;
			li {
				display: table-cell;
				vertical-align: top;
				padding: 20px 10px 0 0;
				&:first-child {
					width: 211px;
				}
				&:nth-child(2) {
					width: 127px;
				}
				&:nth-child(3) {
					width: 125px;
				}
				.magazine-contents {
					margin-bottom: 10px;
					p {
						margin-top: 5px;
						span {}
					}
				}
			}
		}
	}
}
.magazine-list {
	overflow: hidden;
	li {
		width: 140px;
		margin: 30px 0 0 10px;
		display: inline-block;
		float: left;
		dl {
			dt {
				background-color: #000000;
				text-align: center;
				color: #ffffff;
				font-size: 93%;
			}
			dd {}
		}
		a {
			display: block;
		}
	}
}

/*08,09*/
.about-area,
.privacy-area {
	background: #ffffff;
	.desc {
		margin-bottom: 30px;
		text-align: center;
		p {
			line-height: 1.6;
			font-size: 93%;
			margin-bottom: 15px;
			text-align: left;
			a {
				color: #fa5798;
			}
		}
	}
}

/*10*/
#inquiry {
	background-color: #ffffff;
	margin: 0 54px;
	padding: 15px;

}