@charset "utf-8";
@import "reset_sp";
@import "layout_sp";
@import "theme_sp";
@import "module_sp";

/* clearfix */
%clf:after  { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
%clf        { min-height: 1px; }
* html %clf { height: 1px; /*\*//*/ height: auto; overflow: hidden; /**/ }

/* wrap */
%wrap { margin: 0 auto; overflow: hidden;}
/* float */
%fl_l { float: left; }
%fl_r { float: right; }
%fl_n { float: none; }
