@charset "utf-8";
@import "reset";
@import "layout";
@import "theme";
@import "module";
@import "mixin";

/* clearfix */
%clf:after  { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
%clf        { min-height: 1px; }
* html %clf { height: 1px; /*\*//*/ height: auto; overflow: hidden; /**/ }

/* wrap */
%wrap { width: 1150px; margin: 0 auto; overflow: hidden;}
/* float */
%fl_l { float: left; }
%fl_r { float: right; }
%fl_n { float: none; }