@charset "utf-8";
@import "reset";
@import "layout";
@import "theme";
@import "module";

/* wrap */
%wrap { width: 1150px; margin: 0 auto; overflow: hidden;}
/* float */
%fl_l { float: left; }
%fl_r { float: right; }
%fl_n { float: none; }